title Supersingular isogeny graphs and Quaternion Algebras

introduction#sec-supersing-isog-intro
    p
        | These are notes for BUNTES Fall 2018, the topic is
        | Supersingular isogeny graphs and Quaternion Algebras.

    p
        | #[url(href="http://math.bu.edu/people/midff/buntes/fall2018.html")/].

    p
        | Outline:
        ol
            li
                | Background, isogeny graphs, applications.
            li
                | Supersingular isogeny graph cryptography (candidate for post-quantum cryptography).
            li
                | Introduction to Quaternion algebras.
            li
                | The Deuring correspondence:
                me \left\{ \text{maximal orders }\ints \subseteq B_{p,\infty}\right\}/\sim \leftrightarrow \left\{ j \text{ s.s. }\in \FF_{p^2}\right\}/\Gal{\FF_{p^2}}{\FF_p}
                |.
    p
        | References: #[xref(ref="bib-sutherland,bib-voight-quat,bib-velu")/]

section#sec-supersing-isog-graphs
    title Isogeny graphs: background and motivation (Maria Ines)

    subsection#subsec-supersing-isog-background
        title Background

        p
            | Let #[m k = \FF_q], #[m \characteristic (k) = p \ne 2,3].

        definition#def-supersing-isog-ec
            title Elliptic curves
            statement: p
                | An #[term elliptic curve] #[m E/k] is a smooth projective curve of genus 1 together with a point #[m \infty \in E(k)].

        p
            | We can always write such a curve using a Weierstrass equation
            me E\colon y^2=  x^3  + ax  +b,\,a,b    \in k
            | #[m E] is really the projective closure of this affine equation.

        definition#def-supersing-isog-j-inv
            title #[m j]-invariants
            statement
                p
                    | The #[m j]-invariant of an elliptic curve #[m E] is
                    me j(E) = j(a,b) = 1728 \frac{4a^3}{4a^3 + 27b^2}
                    | doesn't depend on the choice of Weierstrass equation.

        fact
            statement: p
                ol
                    li
                        | #[m E,E'] are isomorphic over #[m \overline k \iff j(E)  = j(E')].
                    li
                        | There is a 1-1 correspondence
                        me k \leftrightarrow \overline k \text{-isomorphism classes of EC's }/k
                        |.

        definition#def-supersing-isog-isog
            title Isogenies
            statement: p
                | Let #[m E,E'/k] be elliptic curves.
                | An #[term isogeny], #[m \phi \colon E\to E'] is a non-constant morphism of pointed curves.
                | The degree #[m \deg \phi ] is the degree as a morphism.
                | #[m E,E'] are said to be #[m n]-isogenous if there exists #[m \phi\colon E\to E'] of degree #[m n].
                | #[m j,j'\in k] are #[m n]-isogenous if the corresponding elliptic curves are.

        fact: statement: p
            ol
                li
                    | If #[m p \nmid n = \deg \phi] then the kernel of #[m \phi] has size #[m n] (#[m \phi] is separable).
                li
                    | every finite subgoup of #[m E(\overline k )] is the kernel of a separable isogeny from #[m E], unique up to isomorphism.
                li
                    | Every #[m n]-isogeny #[m \phi\colon E \to E'] has  a dual isogeny #[m \hat \phi \colon E' \to E] such that
                    me \phi\circ \hat\phi = \hat\phi \circ \phi = \lb n \rb
                    | , the multiplication-by-#[m n ] map.

                li
                    | The #[m n]-torsion subgroup
                    me E\lb n \rb = \left\{ P \in E(\overline k) : nP = \infty\right\}
                    | is isomorphic to #[m (\ZZ/n)^2] if #[m p\nmid n].

        lemma
            statement: p
                | Let #[m E/k] be an elliptic curve with #[m j(E) \not\in\{0,1728\}] and let #[m l\ne p] be prime, up to isomorphism the number of #[m l]-isogenies from #[m E] defined over #[m k] is 0,1,2 or #[m l+1].
            proof: p
                | In Maria's notes.
                // TODO

        paragraphs
            title The modular equation

            p
                | Let #[m j(\tau)] be the modular #[m j]-function.
                | For each prime #[m l] the minimal polynomial #[m \phi_l] of #[m j(l\tau)] over #[m \CC (j(\tau))] is the modular polynomial
                me \phi_l \in \ZZ[j(\tau)][y] \simeq \ZZ[x,y]
                | .

            fact
                statement: p
                    ol
                        li
                            | #[m \phi_l] is symmetric in #[m x,y] and has a degree #[m l+1] in both variables.
                        li
                            | The modular equation
                            me \phi_l (x,y) = 0
                            | is a canonical model for
                            me Y_0(l) = \Gamma_0(l) \backslash \HH
                            | it parameterises pairs of elliptic curves related by an #[m l]-isogeny.
                            | This moduli interpretation is still valid when we use any field #[m F] with #[m \characteristic(F) \ne l].
                        li
                            | Let #[m m_l(j,j') = \ord_{t = j'} \phi_l(j,t)], whenever #[m j,j' \ne 0,1728],
                            me  m_l(j,j') = m_l(j',j)
                            |.



        paragraphs
            title The endomorphism ring

            definition#def-supersing-isog-endo
                title Endomorphisms of elliptic curves
                statement: p
                    | An #[term endomorphism] of an elliptic curve #[m E] is either the zero map or an isogeny from #[m E] to itself.
                    | They form a ring #[m \End(E)].

            p
                | For #[m n \in ZZ] we ahve #[m \lb n \rb \in \End(E)] so #[m \ZZ \subseteq \End(E)] over a finite field #[m k], #[m \End(E)] is always larger than #[m \ZZ].
                | It is either an order in an imaginary quadratic field, in which case we say #[m E] is ordinary.
                | Or an order in an quaternion algebra, in which case we say #[m E] is supersingular.
                | We say #[m E] has complex multiplication by #[m \ints].

            proposition
                statement: p
                    | Let #[m E/k = \FF_{p^n}] be an elliptic curve, TFAE
                    ol
                        li
                            | #[m E] is supersingular.
                        li
                            | #[m E\lb p\rb] is trivial.
                        li
                            | The map #[m \lb p\rb \colon E\to E] is purely inseparable and #[m j(E) \in \FF_{p^2}].

            note
                p
                    | If #[m E,E'] are isogenous elliptic curves then #[m \End(E) \otimes_\ZZ \QQ \simeq \End(E')\otimes_\ZZ \QQ].

                    | So supersingularity is preserved by isogenies.

        paragraphs
            title Isogeny graphs of elliptic curves

            p.
                Let #[m k = \FF_q] with #[m \characteristic(k) = p] and #[m l \ne p ] be prime.

            definition#def-supersing-isog-graph
                title Isogeny graphs
                statement: p.
                    The #[m l]-isogeny graph #[m G_l(k)] is the directed graph with vertex set #[m k] and edges #[m (j,j')] present with multiplicity
                    #[me m_j(l,l') = \ord_{t=j} \phi_l(j,t)]
                    vertices are #[m \overline k] isomorphism classes of  elliptic curves #[m /k],
                    edges are isomorphism classes of #[m l]-isogenies defined over #[m k].

            p
                | Since #[m m_l(j,j') =  m(j',j)] whenever #[m j,j' \ne  0,1728] the subgraph of #[m G_l(k)] supported on #[m k\smallsetminus \{0,1728\}] can be thought of as undirected.
                | By the last note #[m G_l(k)] consists of ordinary and supersingular components.

        paragraphs
            title Supersingular isogeny graphs

            p
                | Since every supersingular #[m j]-invariant lives in #[m \FF_{p^2}] if #[m E] is supersingular all roots of #[m \phi_l(j(E), y)] live in #[m \FF_{p^2}].
                | every vertex in a supersingular component has out-degree #[m l+1].
            p
                | Moreover by a result of Kohel #[m G_l(\FF_{p^2})] has only one supersingular component.
            p
                | By the above if #[m p \equiv 1 \pmod {12}] then the supersingular component of #[m G_l(\FF_{p^2})] is an undirected #[m (l+1)]-regular graph with around #[m p/12] vertices.

            theorem
                title Pizer
                statement: p.
                    The supersingular component of #[m G_l(\FF_{p^2})] is a Ramanujan graph.

            definition#def-supersing-isog-ramanujan
                title Ramanujan graphs
                statement: p
                    | A connected #[m d]-regular graph is a #[term Ramanujan graph] if #[m \lambda_2 \le \sqrt{d-1}] where #[m \lambda_2] is the second largest eigenvalue of its adjaceny matrix.
                    | (The largest one is always #[m d], by #[m d]-regularity.)


        paragraphs
            title Ordinary isogeny graphs

            p
                | Let #[m E/\FF_q] be an ordinary elliptic curve, then #[m \End(E) \simeq \ints] is an order in an imaginary quadratic field #[m K] with #[m \ZZ\lb \pi \rb \subseteq \ints \subseteq \ints_K] where #[m \pi] is Frobenius and
                me K = \QQ(\sqrt{(\trace \pi)^2 - 4q})
                | by Tate, isogenous elliptic curves have the same #[m \trace \pi].


            p
                | We can separate the vertices in the component #[m V] of #[m G_l(k)] containing #[m j(E)] into levels #[m V_0, \ldots, V_d] so that #[m j(E') \in V_i] if #[m i = v_l(\lb \ints_K : \ints'\rb)].
                | We'll see that #[m \bigcup_{i=0}^d V_i] is connected.

            p
                | Let #[m \phi\colon E\to E'] be an #[m l]-isogeny between two elliptic curves with CM by #[m \ints = \ZZ+\tau\ZZ], #[m \ints ' = \ZZ+\tau'\ZZ].
                | Then #[m \hat\phi \tau' \phi \in \End(E) \implies l\tau ' \in \ints].
                | Similarly #[m l\tau \in \ints'].
                | There are 3 cases
                ol
                    li
                        | #[m \ints = \ints'] (#[m \phi] is horizontal).
                    li
                        | #[m \lb\ints : \ints' \rb = l] (#[m \phi] is descending).
                    li
                        | #[m \lb\ints' : \ints \rb = l] (#[m \phi] is ascending).
                | In the last two cases we say #[m \phi] is critical.

        paragraphs
            title Horizontal isogenies

            p
                | #[m E/k] with CM by #[m \ints \subseteq K] imaginary quadratic.
                | Let #[m \ideal a] be an invertible ideal.
                me E\lb \ideal a \rb = \{ P \in E(\overline k) : \alpha (P)  = 0\, \forall \alpha \in \ideal a\}
                | this is a finite group so it is the kernel of a separable isogeny #[m \phi_{\ideal a }].

                | If #[m p \nmid N(\ideal a)] then #[m \deg(\phi_{\ideal a}) = N(\ideal a)] with #[m \ideal a] invertible implying #[m \phi_{\ideal a} ] is horizontal.

            p
                | Each horizontal #[m l]-isogeny #[m \phi] arises from some invertible ideal #[m \ideal a] of norm #[m l].
            p
                | If #[m l | \lb \ints_K : \ints \rb ] no such ideals exist, otherwise the number of invertible ideals of norm #[m l] is
                me 1+ \left(\frac {\disc(K)}{l}\right) = \begin{cases}0\amp\text{ if }l \text{ inert }\\ 1\amp\text{ if }l \text{ ramified }\\ 2\amp\text{ if }l \text{ splits}\end{cases}

        paragraphs
            title Vertical isogenies

            p
                | Let #[m \ints] be an order in an imaginary quadratic field #[m K ] of discriminant #[m D \lt -4] and let #[m \ints' = \ZZ+l\ints].

            lemma
                statement: p
                    | Let #[m E' / k]  be an elliptic curve with CM by #[m \ints '] then there is a  unique ascending #[m l]-isogeny #[m E'\to E] with #[m E/k] an elliptic curve with CM by #[m \ints].

            definition
                statement: p
                    | An #[m l]-volcano #[m V] is a connected undirected graph whose vertices are partitioned into levels #[m V_0, \ldots, V_d].
                    ol
                        li
                            | The subgraph #[m V_0] is regular of degree #[m \le 2].
                        li
                            | For each #[m i \gt 0] each vertex in #[m V_i] has exactly one neighbour in level #[m V_{i-1}], and this accounts for all edges outside of #[m V_0].
                        li
                            | For #[m  i \lt d] each vertex has degree #[m l+1].
                    | The number #[m d] is the depth.

            figure
                caption A #[m 3]-volcano
                image: latex-image.
                    <![CDATA[
                    \begin{tikzpicture}
                    \definecolor{cv0}{rgb}{0.0,0.0,0.0}
                    \definecolor{cfv0}{rgb}{1.0,1.0,1.0}
                    \definecolor{clv0}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv1}{rgb}{0.0,0.0,0.0}
                    \definecolor{cfv1}{rgb}{1.0,1.0,1.0}
                    \definecolor{clv1}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv2}{rgb}{0.0,0.0,0.0}
                    \definecolor{cfv2}{rgb}{1.0,1.0,1.0}
                    \definecolor{clv2}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv3}{rgb}{0.0,0.0,0.0}
                    \definecolor{cfv3}{rgb}{1.0,1.0,1.0}
                    \definecolor{clv3}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv4}{rgb}{0.0,0.0,0.0}
                    \definecolor{cfv4}{rgb}{1.0,1.0,1.0}
                    \definecolor{clv4}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv5}{rgb}{0.0,0.0,0.0}
                    \definecolor{cfv5}{rgb}{1.0,1.0,1.0}
                    \definecolor{clv5}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv6}{rgb}{0.0,0.0,0.0}
                    \definecolor{cfv6}{rgb}{1.0,1.0,1.0}
                    \definecolor{clv6}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv7}{rgb}{0.0,0.0,0.0}
                    \definecolor{cfv7}{rgb}{1.0,1.0,1.0}
                    \definecolor{clv7}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv8}{rgb}{0.0,0.0,0.0}
                    \definecolor{cfv8}{rgb}{1.0,1.0,1.0}
                    \definecolor{clv8}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv9}{rgb}{0.0,0.0,0.0}
                    \definecolor{cfv9}{rgb}{1.0,1.0,1.0}
                    \definecolor{clv9}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv10}{rgb}{0.0,0.0,0.0}
                    \definecolor{cfv10}{rgb}{1.0,1.0,1.0}
                    \definecolor{clv10}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv11}{rgb}{0.0,0.0,0.0}
                    \definecolor{cfv11}{rgb}{1.0,1.0,1.0}
                    \definecolor{clv11}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv12}{rgb}{0.0,0.0,0.0}
                    \definecolor{cfv12}{rgb}{1.0,1.0,1.0}
                    \definecolor{clv12}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv13}{rgb}{0.0,0.0,0.0}
                    \definecolor{cfv13}{rgb}{1.0,1.0,1.0}
                    \definecolor{clv13}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv14}{rgb}{0.0,0.0,0.0}
                    \definecolor{cfv14}{rgb}{1.0,1.0,1.0}
                    \definecolor{clv14}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv15}{rgb}{0.0,0.0,0.0}
                    \definecolor{cfv15}{rgb}{1.0,1.0,1.0}
                    \definecolor{clv15}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv16}{rgb}{0.0,0.0,0.0}
                    \definecolor{cfv16}{rgb}{1.0,1.0,1.0}
                    \definecolor{clv16}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv17}{rgb}{0.0,0.0,0.0}
                    \definecolor{cfv17}{rgb}{1.0,1.0,1.0}
                    \definecolor{clv17}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv18}{rgb}{0.0,0.0,0.0}
                    \definecolor{cfv18}{rgb}{1.0,1.0,1.0}
                    \definecolor{clv18}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv19}{rgb}{0.0,0.0,0.0}
                    \definecolor{cfv19}{rgb}{1.0,1.0,1.0}
                    \definecolor{clv19}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv20}{rgb}{0.0,0.0,0.0}
                    \definecolor{cfv20}{rgb}{1.0,1.0,1.0}
                    \definecolor{clv20}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv21}{rgb}{0.0,0.0,0.0}
                    \definecolor{cfv21}{rgb}{1.0,1.0,1.0}
                    \definecolor{clv21}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv22}{rgb}{0.0,0.0,0.0}
                    \definecolor{cfv22}{rgb}{1.0,1.0,1.0}
                    \definecolor{clv22}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv23}{rgb}{0.0,0.0,0.0}
                    \definecolor{cfv23}{rgb}{1.0,1.0,1.0}
                    \definecolor{clv23}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv24}{rgb}{0.0,0.0,0.0}
                    \definecolor{cfv24}{rgb}{1.0,1.0,1.0}
                    \definecolor{clv24}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv25}{rgb}{0.0,0.0,0.0}
                    \definecolor{cfv25}{rgb}{1.0,1.0,1.0}
                    \definecolor{clv25}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv26}{rgb}{0.0,0.0,0.0}
                    \definecolor{cfv26}{rgb}{1.0,1.0,1.0}
                    \definecolor{clv26}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv0v1}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv0v2}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv0v9}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv0v18}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv1v3}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv1v4}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv1v5}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv2v6}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv2v7}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv2v8}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv9v10}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv9v11}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv9v18}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv10v12}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv10v13}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv10v14}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv11v15}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv11v16}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv11v17}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv18v19}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv18v20}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv19v21}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv19v22}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv19v23}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv20v24}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv20v25}{rgb}{0.0,0.0,0.0}
                    \definecolor{cv20v26}{rgb}{0.0,0.0,0.0}
                    %
                    \Vertex[style={minimum size=1.0cm,draw=cv0,fill=cfv0,text=clv0,shape=circle},LabelOut=false,L=\hbox{$0$},x=2.0163cm,y=2.0254cm]{v0}
                    \Vertex[style={minimum size=1.0cm,draw=cv1,fill=cfv1,text=clv1,shape=circle},LabelOut=false,L=\hbox{$1$},x=1.203cm,y=0.8898cm]{v1}
                    \Vertex[style={minimum size=1.0cm,draw=cv2,fill=cfv2,text=clv2,shape=circle},LabelOut=false,L=\hbox{$2$},x=0.7768cm,y=2.2131cm]{v2}
                    \Vertex[style={minimum size=1.0cm,draw=cv3,fill=cfv3,text=clv3,shape=circle},LabelOut=false,L=\hbox{$3$},x=1.0954cm,y=0.0cm]{v3}
                    \Vertex[style={minimum size=1.0cm,draw=cv4,fill=cfv4,text=clv4,shape=circle},LabelOut=false,L=\hbox{$4$},x=0.8216cm,y=0.3343cm]{v4}
                    \Vertex[style={minimum size=1.0cm,draw=cv5,fill=cfv5,text=clv5,shape=circle},LabelOut=false,L=\hbox{$5$},x=0.4512cm,y=0.4732cm]{v5}
                    \Vertex[style={minimum size=1.0cm,draw=cv6,fill=cfv6,text=clv6,shape=circle},LabelOut=false,L=\hbox{$6$},x=0.1621cm,y=1.8553cm]{v6}
                    \Vertex[style={minimum size=1.0cm,draw=cv7,fill=cfv7,text=clv7,shape=circle},LabelOut=false,L=\hbox{$7$},x=0.3018cm,y=2.7372cm]{v7}
                    \Vertex[style={minimum size=1.0cm,draw=cv8,fill=cfv8,text=clv8,shape=circle},LabelOut=false,L=\hbox{$8$},x=0.0cm,y=2.3107cm]{v8}
                    \Vertex[style={minimum size=1.0cm,draw=cv9,fill=cfv9,text=clv9,shape=circle},LabelOut=false,L=\hbox{$9$},x=2.8719cm,y=3.0805cm]{v9}
                    \Vertex[style={minimum size=1.0cm,draw=cv10,fill=cfv10,text=clv10,shape=circle},LabelOut=false,L=\hbox{$10$},x=2.3761cm,y=4.0591cm]{v10}
                    \Vertex[style={minimum size=1.0cm,draw=cv11,fill=cfv11,text=clv11,shape=circle},LabelOut=false,L=\hbox{$11$},x=3.7123cm,y=4.2098cm]{v11}
                    \Vertex[style={minimum size=1.0cm,draw=cv12,fill=cfv12,text=clv12,shape=circle},LabelOut=false,L=\hbox{$12$},x=1.7658cm,y=4.2209cm]{v12}
                    \Vertex[style={minimum size=1.0cm,draw=cv13,fill=cfv13,text=clv13,shape=circle},LabelOut=false,L=\hbox{$13$},x=2.4794cm,y=4.7695cm]{v13}
                    \Vertex[style={minimum size=1.0cm,draw=cv14,fill=cfv14,text=clv14,shape=circle},LabelOut=false,L=\hbox{$14$},x=1.987cm,y=4.7202cm]{v14}
                    \Vertex[style={minimum size=1.0cm,draw=cv15,fill=cfv15,text=clv15,shape=circle},LabelOut=false,L=\hbox{$15$},x=4.4167cm,y=4.5571cm]{v15}
                    \Vertex[style={minimum size=1.0cm,draw=cv16,fill=cfv16,text=clv16,shape=circle},LabelOut=false,L=\hbox{$16$},x=4.1369cm,y=4.9378cm]{v16}
                    \Vertex[style={minimum size=1.0cm,draw=cv17,fill=cfv17,text=clv17,shape=circle},LabelOut=false,L=\hbox{$17$},x=3.7145cm,y=5.0cm]{v17}
                    \Vertex[style={minimum size=1.0cm,draw=cv18,fill=cfv18,text=clv18,shape=circle},LabelOut=false,L=\hbox{$18$},x=3.272cm,y=2.0393cm]{v18}
                    \Vertex[style={minimum size=1.0cm,draw=cv19,fill=cfv19,text=clv19,shape=circle},LabelOut=false,L=\hbox{$19$},x=4.2945cm,y=2.4624cm]{v19}
                    \Vertex[style={minimum size=1.0cm,draw=cv20,fill=cfv20,text=clv20,shape=circle},LabelOut=false,L=\hbox{$20$},x=3.9454cm,y=0.8813cm]{v20}
                    \Vertex[style={minimum size=1.0cm,draw=cv21,fill=cfv21,text=clv21,shape=circle},LabelOut=false,L=\hbox{$21$},x=4.7397cm,y=3.0333cm]{v21}
                    \Vertex[style={minimum size=1.0cm,draw=cv22,fill=cfv22,text=clv22,shape=circle},LabelOut=false,L=\hbox{$22$},x=5.0cm,y=2.6024cm]{v22}
                    \Vertex[style={minimum size=1.0cm,draw=cv23,fill=cfv23,text=clv23,shape=circle},LabelOut=false,L=\hbox{$23$},x=4.9265cm,y=2.1023cm]{v23}
                    \Vertex[style={minimum size=1.0cm,draw=cv24,fill=cfv24,text=clv24,shape=circle},LabelOut=false,L=\hbox{$24$},x=3.8508cm,y=0.1215cm]{v24}
                    \Vertex[style={minimum size=1.0cm,draw=cv25,fill=cfv25,text=clv25,shape=circle},LabelOut=false,L=\hbox{$25$},x=4.3552cm,y=0.2074cm]{v25}
                    \Vertex[style={minimum size=1.0cm,draw=cv26,fill=cfv26,text=clv26,shape=circle},LabelOut=false,L=\hbox{$26$},x=4.6084cm,y=0.613cm]{v26}
                    %
                    \Edge[lw=0.1cm,style={color=cv0v1,},](v0)(v1)
                    \Edge[lw=0.1cm,style={color=cv0v2,},](v0)(v2)
                    \Edge[lw=0.1cm,style={color=cv0v9,},](v0)(v9)
                    \Edge[lw=0.1cm,style={color=cv0v18,},](v0)(v18)
                    \Edge[lw=0.1cm,style={color=cv1v3,},](v1)(v3)
                    \Edge[lw=0.1cm,style={color=cv1v4,},](v1)(v4)
                    \Edge[lw=0.1cm,style={color=cv1v5,},](v1)(v5)
                    \Edge[lw=0.1cm,style={color=cv2v6,},](v2)(v6)
                    \Edge[lw=0.1cm,style={color=cv2v7,},](v2)(v7)
                    \Edge[lw=0.1cm,style={color=cv2v8,},](v2)(v8)
                    \Edge[lw=0.1cm,style={color=cv9v10,},](v9)(v10)
                    \Edge[lw=0.1cm,style={color=cv9v11,},](v9)(v11)
                    \Edge[lw=0.1cm,style={color=cv9v18,},](v9)(v18)
                    \Edge[lw=0.1cm,style={color=cv10v12,},](v10)(v12)
                    \Edge[lw=0.1cm,style={color=cv10v13,},](v10)(v13)
                    \Edge[lw=0.1cm,style={color=cv10v14,},](v10)(v14)
                    \Edge[lw=0.1cm,style={color=cv11v15,},](v11)(v15)
                    \Edge[lw=0.1cm,style={color=cv11v16,},](v11)(v16)
                    \Edge[lw=0.1cm,style={color=cv11v17,},](v11)(v17)
                    \Edge[lw=0.1cm,style={color=cv18v19,},](v18)(v19)
                    \Edge[lw=0.1cm,style={color=cv18v20,},](v18)(v20)
                    \Edge[lw=0.1cm,style={color=cv19v21,},](v19)(v21)
                    \Edge[lw=0.1cm,style={color=cv19v22,},](v19)(v22)
                    \Edge[lw=0.1cm,style={color=cv19v23,},](v19)(v23)
                    \Edge[lw=0.1cm,style={color=cv20v24,},](v20)(v24)
                    \Edge[lw=0.1cm,style={color=cv20v25,},](v20)(v25)
                    \Edge[lw=0.1cm,style={color=cv20v26,},](v20)(v26)
                    %
                    \end{tikzpicture}
                    ]]>

            p
                | The Sage code used to make this picture was:

            sage: input.
                <![CDATA[
                N = 3 # number of flows
                p = 3
                d = 2
                G = graphs.BalancedTree(p,d) # a (p+1)-regular tree of depth d
                G.delete_edge(G.edges()[0])
                F = G.subgraph(G.connected_component_containing_vertex(0)) # A single 'flow'
                H = N*F
                H.add_cycle([len(F.vertices())*i for i in range(N)])
                show(H)
                #latex(H) # for the code
                ]]>

            theorem
                title Kohel
                statement: p
                    | Let #[m V] be an ordinary component of #[m G_l(\FF_q)] that doesn't contain #[m 0] or #[m 1728] then #[m V] is an #[m  l]-volcano s.t.
                    ol
                        li
                            | All vertices in #[m V_i] have the same endomorphism ring #[m \ints_i].
                        li
                            | The subgraph on #[m V_0] has degree
                            me 1+ \left(\frac {\disc(K)}{l}\right)
                            | where #[m K = \Frac(\ints_0)]
                        li
                            | If
                            me \left(\frac {\disc(K)}{l}\right) \ge 0
                            | then #[m \#V_0] is the order #[m \lb l \rb] in #[m \Cl (\ints_0)] else #[m \#V_0 = 1].
                        li
                            | The depth of #[m V] is #[m d = v_l (\lb \ints_K : \ZZ\lb\pi \rb\rb)] where #[m \pi] is the Frobenius morphism on any #[m E] with #[m j(E) \in V].
                        li
                            | #[m l \nmid \lb \ints_K : \ints_0 \rb], #[m \lb \ints_i : \ints_{i+1}\rb = l] for #[m 0\le i \lt d].

        paragraphs
            title Application: Identifying supersingular elliptic curves

            algorithm
                title Sutherland
                statement
                    p
                        | Input: Elliptic curve #[m E/k], #[m \characteristic k = p].
                    p
                        | Output: Ordinary or supersingular.

                    p
                        ol
                            li
                                | If #[m j(E) \not \in \FF_{p^2}] then ordinary.
                            li
                                | If #[m  p  =2,3] return supersingular if #[m j(E) = 0] or ordinary otherwise.
                            li
                                | Find 3 roots of #[m \phi_2(j(E), 4)] over #[m \FF_{p^2}] if not possible return ordinary.
                            li
                                | Walk 3 paths in parallel for up to #[m \lceil \log_2 p \rceil + 1 ] steps.
                                | If any of these paths get to #[m V_d], return ordinary.
                            li
                                | Otherwise supersingular.

section#sec-supersing-isog-crypto
    title Supersingular isogeny graph cryptography (Asra)


    introduction
        p
            | Supersingular isogeny graph crypto is a candidate for post-quantum crypto, not based on factoring etc.

        p
            | Recall last time we defined Ramanujan graphs, graphs with very good connectivity properties, a type of expander.

        proposition
            statement: p
                | If #[m G] is a Ramanujan graph, #[m x\in V, S\subseteq V]. For a sufficiently large path beginning at #[m x], the probability that the path ends in #[m S] is at least #[m |S|/2|V|].
        p
            | Upshot: supersingular isogeny graphs are #[m (l +1)]-regular, undirected, Ramanujan, connected (technically, Ramanujan means connected already, but its worth emphasising).

        p
            | Some of our algorithms are only dependent on having a graph with this property, not so much the interpretation in terms of isogenies.
        p
            | Supersingular isogeny graphs first appeared in crypto as potential hash functions.

    subsection
        title Hash functions

        p
            | (2010) (Charles, Goren, Lauter) proposed a cryptographically secure hash function based on the hardness of computing paths in a supersingular isogeny graphs.

        definition#def-hash-function
            title Hash functions
            statement: p
                | A #[term hash function] is a deterministic function #[m h\colon \{0,1\}^* \to \{0,1\}^n].

        definition#def-collision-resistance
            title Collision resistance
            statement: p
                | A hash function #[m h] is #[term collision resistant] if its hard to find #[m x_1,x_2] with #[m x_1\ne x_2 ] s.t. #[m h(x_1) = h(x_2)].


        definition#def-preimage-resistance
            title Preimage resistance
            statement: p
                | A hash function #[m h] is #[term preimage resistant] if given #[m y\in \{0,1\}^n] its hard to find #[m x] s.t. #[m h(x) = y].

        p
            | Cool example, private set intersection, say two groups, Starbucks and BU want to find a list of common customers (students who bought something at Starbucks) but don't want to reveal anything to each other about the students or customers not in the intersection.
            | Compute hashes of the names of customers and share the hashes, can compute the size of, and the intersection itself.

    subsection
        title Supersingular isogeny hash functions

        paragraphs
            title Parameters
            p
                | #[m G_l(\FF_{p^2})], #[m p \equiv 1 \pmod{12}], #[m l] to be small, fix an ordering on the edges, fix an initial vertex #[m j_0] and an incoming edge.

        paragraphs
            title Protocol

            p
                | #[m m \in \{0,1\}^*] write this as an #[m l]-bit string, #[m m \in \{0,1,\ldots, l-1\}^*], walk the graph based on #[m m] without backtracking.
            p
                | Map the final #[m j] invariant to  #[m \{0,1\}^{n\approx \log p}].

        paragraphs
            title Properties

            p
                | Difficult means exponential in the size of the input normally.

            proposition
                statement: p
                    ol
                        li
                            | Preimage resistant iff when given #[m j] it is difficult to compute a positive integer #[m e] and an isogeny #[m \phi\colon E_{j_0} \to E_j] with degree #[m l^e].
                        li
                            | Collision resistant iff when given #[m j] it is difficult to compute #[m e] and  #[m \phi \colon E_{j_0} \to E_{j_0}] with degree #[m l^e].

    subsection
        title Diffie-Hellman Key Exchange (1976)

        p
            | Choose #[m p,\, \ZZ/p, g] then Alice computes #[m g^a] send to Bob, he computes #[m g^b] and sends it back, they both compute #[m g^{ab}], which is their shared secret.
        p
            | The security is based on the hardness of computing #[m g^{ab}] given #[m g^a,g^b].

    subsection
        title Supersingular isogeny Diffie-Hellman (SIDH)

        paragraphs
            title Parameters
            p
                | Supersingular elliptic curve of smooth order: fix #[m p] to be big enough #[m p = l_A^{e_A} l_B^{e_B} f  \pm 1].
                | #[m l_A,l_B] small primes, #[m f] is a number chosen such that #[m p] is big.
                | Construct a supersingular elliptic curve #[m E] such that #[m \# E(\FF_{p^2}) = (l_A^{e_A}l_B^{e_B} f)^2], using Broker's algorithm.
            p
                | Construct bases #[m (P_A, Q_A)] for #[m E\lb l_A^{e_A}\rb], #[m (P_B, Q_B)] for #[m E\lb l_B^{e_B}\rb].

        paragraphs
            title Protocol

            p
                | Alice takes #[m m_A,n_A \in \ZZ/l_A^{e_A}]
            p
                | Bob takes #[m m_B,n_B \in \ZZ/l_B^{e_B}]
            p
                | Alice finds #[m R_A = m_AP_A + n_AQ_A]
            p
                | Bob finds #[m R_B = m_BP_B + n_BQ_B]
            p
                | Alice finds #[m \phi_A \colon E \to E/\langle R_A\rangle = E_A]
            p
                | Bob finds #[m \phi_B \colon E \to E/\langle R_B\rangle = E_B]
            p
                | They send each other #[m E_i, \phi_i(P_i),\phi_i(Q_i)].
            p
                | Both compute #[m \phi'_A\colon E_B \to E_B/\langle m_A\phi_B(P_A) + n_A\phi_B(Q_A)\rangle] or analogous.
            p
                | Shared secret is #[m j(E_{AB})].

        paragraphs
            title Hardness

            p
                ol
                    li
                        | (Decisional supersingular isogeny problem) Given #[m E, (P_A,Q_A)] a basis for #[m l_A^{e_A}] torsion, let #[m E_A] be another curve, is #[m E_A] #[m l_A^{e_A}] isogenous to #[m E]?

                    li
                        | (Computational supersingular isogeny problem) Let #[m \phi_A \colon E \to E_A] be an isogeny with a kernel of the form #[m \langle m_AP_A + n_AQ_A \rangle].
                        | Given #[m E_A] and #[m \phi_A(P_B)] #[m \phi_A(Q_B)], find #[m R_A].


                        | #[m p^{1/4}] classical, #[m p^{1/6}] quantum.
                    li
                        | Given #[m E_A, E_B, \phi_A(P_B), \phi_A(Q_B), \phi_B(P_A), \phi_B(Q_A)] find #[m j]-invariant of #[m E_{AB}].

    subsection
        title Supersingular isogeny public key

        p
            | Classically DH key-exchange #[m \leadsto] ElGamal encryption.

        p
            ol
                li
                    p Key generation.
                    p
                        | Alice: secret #[m \phi_A \colon E \to E_A], public #[m E_A] and #[m \phi_A(P_B), \phi_A(Q_B)].
                li
                    p Encryption.
                    p
                        | Bob: choose #[m \phi_B \colon E \to E_B], compute #[m j(E_{AB})].
                    p
                        | Send Alice #[m c = (E_B, \phi_B(P_A), \phi_B(Q_A), m\oplus j(E_{AB}))]
                li
                    p Decryption.
                    p
                        | Alice use #[m (E_B, \phi_B(P_A), \phi_B(Q_A))] to compute #[m j(E_{AB})].
                        | Computes #[m (m\oplus j(E_{AB})) \oplus j(E_{AB}) = m].
        p
            | #[m E(\FF_{p^2})], #[m p = l_A^{e_A} l_B^{e_B} f \pm 1], for #[m 128]-bit security use a #[m 512]-bit key.

    subsection
        title Algorithmic aspects

        p
            ol
                li
                    | (Choosing #[m f]) Prime number theorem for arithmetic progressions gives you a bound on the density of primes of the form #[m l_A^{e_A} l_B^{e_B} f \pm 1]
                li
                    | Choosing a s.s. e.c. with the right group order, Broker's algorithm.
                li: p
                    | Finding a basis for #[m E\lb l_A^{e_A}\rb].
                    ol
                        li
                            | Find a random point in #[m E(\FF_{p^2})] say #[m P].
                        li
                            | Check the order of #[m (l_B^{e_B} f)^2 \cdot P].
                            | If its #[m l_A^{e_A}] set #[m P_A = P].
                            | Otherwise repeat from 1.
                        li
                            | Do the same with #[m Q_A = Q].
                        li
                            | Check independence by seeing if #[m e(P_A,Q_A) ] has the right order, so that it is in #[m E\lb l_A^{e_A} \rb] torsion.
                li
                    | Computing the kernels generated by #[m R_A = m_A P_A + n_A Q_A], #[m m_A, n_A \in \ZZ/l_A^{e_A} \ZZ].
                    | Analogue of double and add.
                    | Set #[m R_A = P_A + \lb m_A\inv n_A\rb Q_A].
                    | Use differential addition (when you compute #[m A+B] with side info #[m A-B]) and a Montgomery ladder
                li
                    | (Computing smooth degree isogenies) Decompose the #[m l_A^{e_A}] isogeny into #[m e_A] different #[m l_A]-isogenies, #[m \phi_i\colon E_i \to E_{i+1}] the kernel of #[m \phi_i] is #[m \langle l_A^{e_A - i - 1} R_A\rangle].
                    | Vélu's formula runs in #[m O(l)] for #[m l]-isogeny.

section#sec-quaternion-algebras
    title Quaternion Algebras (Alex)

    introduction
        p
            | Q: Why study quaternion algebras?
        p
            | A: They arise as the endomorphism algebras of #[em supersingular] elliptic curves #[m /\FF_{p^2}].

        p
            | I don't want to spoiler next week at all, but I cannot talk about quaternion algebras without a little bit of motivation first!

        example
            title What are we doing again?
            statement
                p
                    | Lets take
                    me K = \FF_9 = \FF_3[\alpha] = \FF_3[x]/(x^2- x - 1)
                    | and
                    me E/K\colon y^2 = x^3 + \alpha x = f(x)
                    | , simple eh?
                    | It's supersingular as the #[m j]-invariant is 0 (and are in characteristic 3).
                    | Alternatively, count points or even compute the Hasse invariant, the coefficient of #[m p -1 = 2] in #[m f(x)^{(p-1)/2 = 1}], yep, it's 0.
                p
                    | We therefore have #[m \#E(K) = 9 + 1 = 10] so we have a #[m 2]-torsion point (#[m P = (0,0)]) and any other point we can use to generate (will be #[m 5] or #[m 10] torsion).
                    | Let #[m x = 1] so #[m y^2 = 1 + \alpha = \alpha^2] so #[m y = \pm\alpha], say #[m Q = (1,\alpha)].
                p
                    | We have one endomorphism, #[m p]-power frobenius #[m x\mapsto x^3], #[m y\mapsto y^3].
                    | How to find another one?
                p
                    | Lets compute an isogenous curve and see what happens!
                    | We will compute #[m \psi\colon  E \to E/\langle P \rangle = E'].
                    | In general the formulae are  a little annoying #[xref(ref="bib-velu")/], when you have a 2-torsion point at #[m (0,0)], not as bad:
                    me \psi = \left(x + \frac{f'(0)}{x}, y - \frac{yf'(0)}{x^2} \right)
                    me f'(0) = \alpha
                    | so
                    me \psi= \left(\frac{x^2 + \alpha}{x}, y\frac{x^2 - \alpha}{x^2} \right)
                    | (aside: if #[m g/h = (x^2+\alpha)/x] then #[m (g/h)' = (g' h - g h')/h^2 = (2x^2 - (x^2 + \alpha))/x^2 = (x^2 - \alpha)/x^2], sanity check/fast computation?).
                    | The curve is then
                    me E'\colon y^2 = x^3 + 0x^2 + (\alpha - 5\alpha)x +0 = x^3  - \alpha x
                    //| Use Velu's formulae, #[m b_1,b_0] are coefficients of our original equation:
                    //me E'\colon y^2 = x^3 + (-(4a + 2b_1))x^2 + (b_1^2 - 4b_0)x = x^3  - \alpha x
                    //| the isogeny itself is
                    //me \left( \frac{x^3  + \alpha x}{x}, \frac{(x^2 - \alpha )y}{x^2}\right)
                    //| .
                    | . I think really here we're just recovering those classic formulae for 2-isogenies between curves with a rational 2 torsion point at #[m (0,0)] (used in 2-descent).
                    md
                        mrow C\amp\colon y^2 = x(x^2+ax+b)
                        mrow D\amp\colon v^2 = u(u^2+a_1u+b_1)
                        mrow \phi\amp\colon C\to D
                        mrow (x,y) \amp\mapsto ((y/x)^2 , y-by/x^2)
                        mrow \hat\phi\amp\colon D\to C
                        mrow (u,v) \amp\mapsto \left(\frac14\left(\frac vu\right)^2 ,\frac18( v-b_1 v/u^2)\right)
                p
                    | So far so good, our curve doesn't look exactly the same, but it's #[m j]-invariant is, so we are still in business.
                    | Is
                    me E \simeq E'\text{?}
                    | If we substitute #[m x= \alpha^2 x], #[m y = \alpha ^3 y] into #[m E'] we get
                    me \alpha^6 y^2 = \alpha^6 x^3 - \alpha^3 x
                    me y^2 = x^3 - \alpha^{-3} x = x^3 +\alpha x
                    | , call this map #[m \iota].
                    | Excellent, so to get #[m \psi' \colon E\to E] we compose #[m \iota\circ \psi].
                    me \iota \circ\left( \frac{x^2  + \alpha}{x}, \frac{(x^2 - \alpha )y}{x^2}\right)  = \left( \alpha^2\frac{x^2  + \alpha}{x}, \alpha^3\frac{(x^2 - \alpha )y}{x^2}\right)
                    me                                                                                 = \left( (\alpha+  1)\frac{x^2  + \alpha}{x}, ( -\alpha  + 1)\frac{(x^2 - \alpha )y}{x^2}\right)
                    | .
                p
                    | What happens to our other point #[m Q]?
                    | #[m \psi'(Q) = (\alpha^2(1+\alpha), \alpha^4(1-\alpha)) =(-1, \alpha - 1)]
                    md
                        mrow (0 : 0 : 1) \mapsto (0 : 1 : 0),\, (0 : 1 : 0) \mapsto (0 : 1 : 0),\, (1 : \alpha : 1) \mapsto (-1 : \alpha -1 : 1),
                        mrow (1 : -\alpha : 1) \mapsto (-1 : -\alpha + 1 : 1),\, (-1 : \alpha -1 : 1) \mapsto (1 : -\alpha : 1),
                        mrow (-1 : -\alpha + 1 : 1) \mapsto (1 : \alpha : 1),\, (\alpha : \alpha + 1 : 1) \mapsto (-1 : -\alpha + 1 : 1),
                        mrow (\alpha : -\alpha -1 : 1) \mapsto (-1 : \alpha -1 : 1),\, (-\alpha : 1 : 1) \mapsto (1 : \alpha : 1),\, (-\alpha : -1 : 1) \mapsto (1 : -\alpha : 1)
                    | A word of caution: If you are very awake you may check and be led to believe that this is just the multiplication by #[m -2] isogeny on #[m E], its action on #[m E(\FF_9)] points is the same!!!!!
                    | It's not the same isogeny though so you can relax.
                    | Now we have an endomorphism ring with two elements, what are the relations between themselves, and each other?
                p
                    | As we quotiented by a rational #[m 2]-torsion point we have computed a factor of #[m \pi - 1], the other factor comes from quotienting by #[m 5]-torsion.
                    | In fact we find.
                    | The frobenius has characteristic polynomial #[m t^2 + 9 = (t + 3i)(t-3i)] #[m \pi] looks like #[m 3i].
                    | #[m \psi] has characteristic polynomial #[m t^2 - 2t + 2 = (t+1)^2 + 1], so #[m \psi + 1] looks like #[m \pm i].
                    | #[m ?? \cdot \psi = \pi - 1]  #[m ?? \cdot (i - 1) = 3i - 1], so #[m ?? = 2 - i = 2 - (\psi + 1) = 1 - \psi].
                p
                    | So what if we quotient by non-rational 2-torsion?
                    | Pass to the quadratic extension #[m \FF_{3^4}], which we get from adjoining the other roots of #[m 0 = x^3 + \alpha x] i.e. #[m \pm \sqrt{-\alpha}].
                    | Denote this extension #[m \FF_3 \lb \beta \rb],  #[m (\beta^2 - 1)^2 = -\alpha].
                    | We can use Vélu again, it's degree two still but a bit more ugh, you might need a computer from now on, actually I've been using one all along.
                    me \phi = \left( \frac{\left(\alpha + 1\right) x^{2} + \left(- \beta^{3}  -  \beta - 1\right) x}{x -   (\beta^{2} - 1)},y \frac{\left(-\alpha + 1\right) x^{2} + \left(\beta^{3}  -  \beta^{2} + \beta - 1\right) x -  1}{(x -  ( \beta^{2} - 1))^2} \right)
                    | doing a computation it looks like #[m \phi] satisfies #[m \phi^2 -\phi + 2].
                p
                    | What are the relations between these? Hopefully they generate the endomorphism ring by now but without relations we are screwed!
                    | Do they commute?
                    | Computing #[m \tau = \phi \psi  - \psi \phi] is relevant, if 0, commutative, otherwise not!
                    | Note that if they are algebraically dependant they must commute!
                    | In our example we can compute #[m \tau^2 + 3 = 0]
                    //me \tau (\psi +1) = (\phi \psi - \psi \phi) (\psi + 1)  = \phi \psi^2 + \phi \psi - \psi \phi\psi - \psi \phi= \phi (2\psi -2) + \phi \psi - \psi \phi\psi - \psi \phi
                    //me (\psi+1)\tau  = (\psi + 1)(\phi \psi - \psi \phi)  = \psi \phi \psi + \phi\psi - \psi^2 \phi - \psi \phi  = \psi \phi \psi + \phi\psi - (2\psi - 2) \phi - \psi \phi
                    //| sum
                    //me 2\phi \psi -2 \phi + \phi \psi - \psi \phi+  \phi\psi - 2\psi\phi + 2\phi - \psi \phi
                    //me 4\phi \psi - 4\psi\phi  = 4\tau


        exercise
            statement: p
                | Finish this example, compute the endomorphism ring as a recognisable quaternion order.

        p
            | Aside: I now believe Asra when she says not to use Vélu's formulae for large degree!
        p
            | Aside 2: Frobenius can be weird for supersingular curves, e.g. for
            me y^2 = x^{3} + x/\FF_9
            | we have #[m \pi = -3]. Or
            me y^2 = x^{3} + 1/\FF_{25}
            | we have #[m \pi = -5]

        exercise
            title Good for long walks on the beach
            statement: p
                | Show by hand that #[m y^2 + y = x^3/\FF_4] is supersingular and that frobenius is just the multiplication by #[m -2] map.

        exercise
            statement: p
                | PODASIP: this happens for all #[m p^2]?

    subsection
        title Quaternion Algebras

        introduction
            p
                | Pretty much all of this material was ripped with the utmost love and affection from #[xref(ref="bib-voight-quat")/], check it out.
            proposition
                statement: p
                    | The theory of Quaternion algebras is very rich.
                proof: p
                    | The above book is 800 pages long.
            p
                | So now we have gone out into nature and observed a beautiful new species of algebra, time to catch it, pin it to a wall, dissect it to study it in detail.
                | It might not look as pretty any more but it's the way the science is done.

            example
                title Hamilton's quaternions
                statement: p
                    | Hamilton's quaternions #[m \HH] were the first quaternion algebra to be discovered (citation needed).
                    | The structure is like two copies of #[m \CC] tensored together in some non-commuting way over #[m \RR].
                    | We have a real algebra with two generators #[m i,j] s.t. #[m i^2 = j^2  = (ij)^2 = -1] we let #[m k = ij] for aesthetic reasons (note that these relations imply noncommutativity!).
                    | Like this we get a division algebra.

            p
                | Quaternion algebras are a generalisation of this to other fields.

            definition#def-quaternion-algebra
                title Quaternion algebras
                statement
                    p
                        | Let #[m F] be a field (not characteristic 2), a quaternion algebra over #[m F] is an algebra #[m B] over #[m F] for which there exist #[m a,b\in F^\times] such that there is a basis
                        me 1,i,j,k \in B
                        | such that
                        me i^2 = a,j^2=b,k=ij=-ji
                        | , it is automatic that #[m k^2 = -ab] from this.
                    p
                        | We denote this particular quaternion algebra by #[m \legendre{a,b}{F}]

            example
                statement: p
                    me  \HH = \legendre{-1,-1}{\RR}
                    | .

            example
                statement: p
                    | What is
                    me \legendre{1,1}{F} \left( = \legendre{1,-1}{F}\right)
                    | ? We have another way to come up with #[m 4]-dimensional non-commutative algebras over fields, matrices!
                    | Let
                    me i=  \begin{pmatrix} 1\amp0\\0\amp -1\end{pmatrix}
                    me j =\begin{pmatrix} 0\amp1\\1\amp 0\end{pmatrix}
                    | so
                    me k = ij = \begin{pmatrix} 0\amp1\\-1\amp 0\end{pmatrix} = -ji
                    | as required.

            p
                | Call this example #[em split], in analogy with quadratic theory,  If #[m x^2 - N] has a solution mod #[m p] then #[m \legendre{N}{p} = 1 = \legendre{1}{p}].

            p
                | Note that if #[m a] or #[m b \in (F^\times)^2] then we can divide the corresponding basis element by #[m \sqrt{a}] or whatever and find that #[m \legendre{a,b}{F} = \legendre{1,b}{F}].
                | This shows:

            proposition
                statement: p
                    | After passing to the algebraic closure (or even the quadratic closure!) every quaternion algebra is split.

            p
                | This is helpful as it allows us to work with non-split quaternion algebras as matrix algebras over a quadratic extension.

            example
                statement: p
                    | #[m \HH/\RR] can be seen as #[m \Mat_{2\times 2}(\RR(i)) = \Mat_{2\times 2}(\CC)], explicitly
                    me i=  i\begin{pmatrix} 1\amp0\\0\amp -1\end{pmatrix} = \begin{pmatrix} i\amp0\\0\amp -i\end{pmatrix}
                    me j = i\begin{pmatrix} 0\amp1\\1\amp 0\end{pmatrix} = \begin{pmatrix} 0\amp i\\i\amp 0\end{pmatrix}
                    | please excuse the unfortunate notational clash here, I hope you agree it's somewhat unavoidable.

            p
                | Here is a nice lemma I probably used implicitly already somewhere!

            lemma
                statement: p
                    | An #[m F]-algebra #[m B] with #[m F]-algebra generators #[m i,j] satisfying #[m i^2,j^2\in F^\times], #[m ij = -ji] is automatically a quaternion algebra (i.e. dimension 4).
                proof: p
                    | Show linear independence of #[m 1,i,j,ij] (exercise).

            definition#def-quat-alg-conj-trace-norm
                title Conjugate, trace and norm
                statement
                    p
                        | Given a quaternion algebra #[m B/F] there is a unique anti-involution #[m  \overline \cdot \colon B \to B], called #[term conjugation].
                    p
                        | With basis #[m 1,i,j,ij\in \legendre{a,b}{F}] as above it is given as
                        me \overline {x + yi + zj + w ij} = x - yi - zj - w ij,\,x,y,z,w\in F
                        | .
                    p
                        | As normal (heh) we define the (reduced) norm and trace
                        me \norm \alpha =  \alpha + \overline \alpha,\,\forall \alpha \in B
                        me \norm(x + yi + zj + w ij) = x^2 - ay^2 - b z^2 + ab w^2
                        | and
                        me \trace \alpha =  \alpha + \overline \alpha,\,\forall \alpha \in B
                        me  \trace (x + yi + zj + w ij) = 2x
                        | .


        subsubsection
            title Orders
            p
                | In our example, while the endomorphism algebra #[m \End(E)\otimes \QQ] was of interest, the endomorphism ring #[m \End(E)] was the more fundamental object.
                | What is this? A quaternion ring?

            definition#def-order-quaternion
                title Orders in quaternion algebras
                statement: p
                    | Let #[m B/\QQ] be a quaternion algebra, an #[term order] in #[m B] is a full rank sub-#[m \ZZ]-module that is also a subring.

            example#ex-lipshitz-order
                title The Lipschitz order
                statement: p
                    | #[m B = \legendre{-1,-1}{\QQ}] (Hamilton quaternions with #[m \QQ]-coefficients) then we have an order
                    me \ZZ + \ZZ i + \ZZ j + \ZZ ij
                    | the #[term Lipschitz order].

            definition#def-maximal-order
                title Maximality
                statement: p
                    | Orders are ordered (heh) with respect to inclusion, thus we get notions of maximality of orders etc.

            p
                | Is the Lipschitz order maximal? NO!
                | Whats going on? #[m \ZZ\lb i\rb] is maximal in #[m \QQ(i)] after all.
                | Consider
                me i + j + k,\,(i+j + k)^2 = i^2 + j^2 + k^2 + \cancelto{0}{ij + ji} + \cancelto{0}{ik + ki} + \cancelto{0}{jk + kj} = -3
                | so we have a #[m \ZZ\lb \sqrt{-3}\rb] lurking inside #[m \legendre{-1,-1}{\QQ}], quaternion algebras are not everything they appear to be at first sight!
                | #[m \ZZ\lb \sqrt{-3}\rb] is non-maximal and we must add #[m \sqrt{-3}/2] to make it so.
                | Lets add this in the quaternion setting:
            example#ex-hurwitz-order
                title The Hurwitz order
                p
                    | Let #[m B = \legendre{-1,-1}{\QQ}], then
                    me \ZZ+  \ZZ i + \ZZ j + \ZZ \left(\frac{i + j + k}{2}\right)
                    | is an index two suborder of the Lipschitz order, called the #[term Hurwitz order], this #[em is] maximal.
            p
                | Warning, just because #[m \sqrt{-3} \in \legendre{-1,-1}{\QQ}] we do not have #[m \legendre{-1,-3}{\QQ} = \legendre{-1,-1}{\QQ}]!
            example
                title /Exercise
                statement: p
                    | Show that the elliptic curve from the exercise earlier
                    me y^2 + y = x^3/\overline{\FF_2}
                    | has endomorphism algebra the Hurwitz order.

            p
                | Warning, there is no such thing as #[em the] maximal order of a quaternion algebra!
                | Rather there are multiple maximal orders due to non-commutativity, e.g. if #[m \ints] is a maximal order then so is
                me \alpha \ints \alpha\inv \ne \ints
                | .
            p
                | Normally when we have unique maximal things with a certain property, its because we can always take spans/unions and they still have that property.
            p
                | This is no longer true here, the sum of two elements with integral trace and norm need not remain so, nor the product.

            p
                | We can define discriminants of orders which like normal give a hint as to their maximality
                me \ints = \ZZ + \ZZ i + \ZZ j + \ZZ ij \subseteq \legendre{a,b}{\QQ}
                me \disc \ints  = d(1,i,j,ij) = \left| \det\begin{pmatrix} 2 \amp 0 \amp 0\amp 0 \\ 0 \amp 2a \amp 0 \amp 0 \\ 0 \amp 0 \amp 2b \amp 0 \\ 0 \amp 0 \amp 0 \amp -2ab\end{pmatrix}\right| = (4ab)^2
            exercise
                statement: p
                    | Find the discriminant of the Lipschitz order.

        subsubsection
            title Local theory
            theorem
                statement
                    p
                        | Over a local field #[m F \ne \CC] there is a unique division quaternion algebra #[m B/F] up to #[m F]-isomorphism.
                    p
                        | If #[m F = \QQ_p], #[m p\ne 2] then this is
                        me \legendre{e,p}{\QQ_p}
                        | for #[m e] any quadratic non-residue mod #[m p].
                    p
                        | This is saying that any quadratic extension of #[m F] embeds into #[m B]!

            definition#def-split-ram-quaternion-algs
                title Split and ramified quaternion algebras
                statement
                    p
                        | Let #[m B/\QQ_v] be a quaternion algebra, we say that #[m B] is
                        me.
                            \begin{cases}
                            \text{split} \amp \text{if } B\cong M_2(\QQ_v)  = \legendre{1,-1}{\QQ_v}\\
                            \text{ramified} \amp \text{otherwise}
                            \end{cases}
                    p
                        | Correspondingly we say that #[m B/\QQ] is split/ramified at a place #[m v] if the corresponding #[m B\otimes \QQ_v] has that property.

            p
                | The terminology definite for quaternion algebras ramified at infinity is also used (i.e. for which #[m B\otimes \RR = \HH]).

            theorem
                title Albert-Brauer-Hasse-Noether
                statement: p
                    | Let #[m B/F] be a quaternion algebra  over  a  number field #[m F] (or any central simple algebra), if #[m B] splits at every place #[m v] of #[m F] then #[m B] is a matrix algebra #[m M_d (F)].

            p
                | In fact:

            theorem
                statement: p
                    | Two quaternion algebras are isomorphic if and only if they are isomorphic everywhere locally, i.e. if the set of places at which they ramify is the same.

            p
                | Warning: Quaternion algebras may not be ramified where you think they are?
            p
                | Knowing the ramification of a quaternion algebra #[m \QQ] is enough to identify it uniquely, in fact we have the following theorem

            theorem
                title Main Theorem #[xref(ref="bib-voight-quat",detail="14.1.3")/]
                statement: p
                    | There is a sequence of bijections
                    md
                        mrow \left\{ \text{quaternion algebras }B/\QQ \right\}/\text{isom.}
                        mrow S \mapsto \text{unique }B \text{ ramified at exactly }S\amp\updownarrow D\mapsto \{p : B \text{ is ramifies at } p\}
                        mrow \left\{ S \subseteq \text{places of }\QQ,\,2|\#S \right\}
                        mrow D \mapsto \{p|D\} \cup \{\infty\} \text{ if }2\nmid \omega(D)\amp\updownarrow S \mapsto \prod_{p\in S,p\ne \infty} p
                        mrow \left\{ D\in \ZZ_{\gt 0 }\text{ squarefree}\right\}

            p
                | Sometimes however we want generators and relations not just ramification information:
                | (As we will only care about discriminant #[m p] quaternion algebras) In our setting the relevant theorem is:

            theorem
                title Pizer
                statement: p
                    | Let #[m \QQ_{p,\infty}] be the unique quaternion algebra ramified at #[m p,\infty], let #[m q \equiv 3 \pmod 4] be such that #[m \legendre pq = -1], then
                    me.
                        \QQ_{p,\infty} \cong
                        \begin{cases}
                        \legendre{-1,-1}{\QQ} \amp \text{ if }p\equiv 2\pmod 4,\\
                        \legendre{-1,-p}{\QQ} \amp \text{ if }p\equiv 3\pmod 4,\\
                        \legendre{-2,-p}{\QQ} \amp \text{ if }p\equiv 1\pmod 8,\\
                        \legendre{-p,-q}{\QQ} \amp \text{ if }p\equiv 5\pmod 8.
                        \end{cases}
            p
                | Ibukiyama has given a nice description of a maximal order in such.


            p
                | Here are some nice references:
                ol
                    li Computational Problems in Supersingular Elliptic Curve Isogenies - Steven D. Galbraith and Frederik Vercauteren #[url(href="https://www.esat.kuleuven.be/cosic/publications/article-2842.pdf")/]
                    li Computing Isogenies Between Abelian Varieties - David Lubicz Damien Robert #[url(href="https://perso.univ-rennes1.fr/david.lubicz/articles/isogenies.pdf")/]
                    li Toric forms of elliptic curves and their arithmetic - Wouter Castryck and Frederik Vercauteren #[url(href="https://homes.esat.kuleuven.be/~fvercaut/papers/ec_forms.pdf")/]
                    li Isogenies of Elliptic Curves: A Computational Approach - Daniel Shumow #[url(href="https://www.sagemath.org/files/thesis/shumow-thesis-2009.pdf")/]
                    li Hard and Easy Problems for Supersingular Isogeny Graphs - Christophe Petit and Kristin Lauter #[url(href="https://eprint.iacr.org/2017/962.pdf")/]
                    li Perspectives on the Albert-Brauer-Hasse-Noether Theorem for Quaternion Algebras -  Thomas R. Shemanske #[url(href="https://www.math.dartmouth.edu/~trs/expository-papers/tex/ABHN.pdf")/]
                    li COMPUTING ISOGENIES BETWEEN SUPERSINGULAR ELLIPTIC CURVES OVER Fp CHRISTINA DELFS AND STEVEN D. GALBRAITH #[url(href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.740.6509&rep=rep1&type=pdf")/]



